@model WebApplication1.Models.SoleConfiguration

<h5>Modèle</h5>
<p><strong>Nom:</strong> @Model.ConfigurationName</p>
<p><strong>Type:</strong> @Model.SoleType</p>
<p><strong>Gabarit:</strong> @Model.Template</p>
<p><strong>Pointures:</strong> @Model.ShoeSizeRange</p>
<p><strong>Code Client:</strong> @Model.ClientCode</p>